:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #eaeefb;
  color: black;
  font-family: "roboto" , "sans-sarif";

}

.my-img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  margin: 50px auto;
}
.repo-img{
  width: 200px;
  height: 150px;
  border-left: 8px solid #0B24F5;
  border-bottom: 8px solid #0B24F5;
  display: block;
  margin: 0 auto;
}
h1 {
  color: #0B24F5;
  
}
.skill-container{
  background-color: #0B24F5;
  color: whitesmoke;
  padding: 40px 10px;
  width: 100%;
  margin: 30px 0;
}
.skill-container h1{
  color: whitesmoke;
  text-align: center;
  
}
.header{
  padding: 20px;
}
li{
  list-style-type: none;
  margin: 30px 0;
  
}
.projects h1{
  text-align: center;
}
.tag{
  color: whitesmoke;
  display: inline-block;
  margin-right: 6px;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
 margin: 18px 0;
}
button{
  border: none;
  background-color: rgb(207, 205, 205);
  outline: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 18px;
 
}
.projects{
  padding-left: 20px;
}